/* Estilos de Home.css */

.home {
    background-color: #ffffff;
    padding: 20px;
  }
  
  /* Barra de anuncios */
  .announcement-bar {
    background-color: #f8f9fa;
    color: #333;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: opacity 0.5s ease-in-out;
  }
  
  /* Área promocional */
  .promotional-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  
  .promo-item {
    font-size: 1.2em;
    color: #666;
    text-align: center;
  }
  
  /* Sección de productos */
  .category-page22 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .products-section22 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px; /* Limita el ancho máximo para centrar el contenido */
    justify-content: center; /* Centra el grid */
  }

  .pagination2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .pagination2 button {
    padding: 8px 12px;
    font-size: 16px;
  }
